body {
    font-family: 'Odibee Sans';
    margin: 0;
}

#root {
    text-align: center;
}


.menu {
    font-size: 56px;  
    background-color: #27aedb;
    margin: 0;
    padding: 20px; 
    text-align: center;
    margin-bottom: 40px;
    height: 70px;
}

.menu a {
    color: azure;
    text-decoration: none;
}

.pokedex-menu {
    font-size: 56px; 
    float: left;
    margin-left: 80px;
}
.your-pokemon-menu {
    color: crimson;
    float: right;
    font-size: 36px;
    margin-right: 50px;
}
.your-pokemon-menu a {
    color: darksalmon ;
}

.content {
    font-size: 40px;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
    Width:calc(33%);
    Display: flex;
    Flex-direction: column;
    Align-items: center;
    margin-bottom: 20px;
}

li a {
    width: 60%;
    min-width: 180px;
    border: 1px solid lightslategrey;
    background-color: lightslategrey;
    border-radius: 20px;
    text-decoration: none;
    padding-bottom: 10px;
}
.pokemon-name {
    font-size: 28px;
    color: azure;
}

.pokemon-page {
    width: 20%;
    min-width: 220px;
    border-radius: 20px;
    padding-bottom: 25px;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: lightslategrey;
}

.load-button {
    display: inline-block;
    position: relative;
    padding: 10px;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.loading-info {
    font-size: 40px;
}



.checkbox-menu{
    margin-top: 10px;
    width: 60%;
    min-width: 180px;
    border: 1px solid lightslategrey;
    background-color: lightslategrey;
    border-radius: 20px;
    height: 45px;
}
    .checkbox {    
        float: left;
        padding-top: 5px;
        padding-left: 5%;
        Width:calc(25%);
        height: 40px;
    }
        input {
            display: none;
        }
        .checkbox-icon {
            display: flex;
            width: 40px;
            height: 40px;
            background-image: url("./style/not_your_pokemon.png");
            background-repeat: no-repeat;
        }
        input:checked + .checkbox-icon {
            display: flex;
            width: 40px;
            height: 40px;
            background-image: url("./style/your_pokemon.png");
            background-repeat: no-repeat;
        }



.checkbox-date {
    
    height: 40px;
    float: right;
    padding-top: 5px;
    padding-left: 5%;
    Width:calc(65%);
}

.checkbox-date-logo {
    display: flex;
    min-width: 65%;
    height: 40px;
    background-image: url("./style/date.png");
    background-repeat: no-repeat;
}
.checkbox-date-text {
    padding-left: 40px; 
    font-size: 28px;
    color: azure;
}




